APP_PORT=8080

DB_NAME=primary_homework_system
DB_USERNAME=homework
DB_PASSWORD=change-me-db-password
MYSQL_ROOT_PASSWORD=change-me-root-password

REDIS_PASSWORD=

APP_JWT_SECRET=change-me-jwt-secret-please-use-a-long-random-string
APP_JWT_EXPIRE_SECONDS=7200
